
.imgPost {
    height: 50px;
    width:50px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0 0 0 3px rgb(0, 109, 128), 0 0 13px #333;
    margin-right: 10px;

}

.paddingImg {
    padding: 10px;
}

.likes {
    color: white;
}