.navbarItem:hover {
    background-color: #FFFFFF55;
    margin: 0;
}
.navbarMenu{
    border-radius: 4px;
    height: auto;
    width: 30vw;
}

.navbar-toggler:focus {
    box-shadow: none;
}
 .bg-blue {
    background-color: #7196b6;
   
 }
 .button {
    border: 3px solid transparent;
 }

  a {
    text-decoration: none;
  }
   

  
