
  
  .profImg {
    height: 160px;
    width: 200px;
    float: left;
    margin-right: 10px;
    padding: 10px;
  
  }
  
  .backgroundImg {
    width: 100%;
    height: 200px;
  }
  
.userName {
  padding-top: 10px;
  font: 500 24px  Arial;
}

/* .infoAboutUser  {

} */