

.dialogs {
    display: grid;
    grid-template-columns: 4fr 8fr;
    padding: 10px;
}

/* .dialogItem {
   
}

.messages {

}  */



  .textOfMessage {
    color: rgb(58, 57, 56);
  }

 .textarea {
  width: 625px;
  height: 70px;
}


  


/* 
.dialogs {
    display: grid;
    grid-template-areas: 'dialogItem messages';
    padding: 10px;
}

.dialogItem {
    grid-area: dialogItem;
}

.messages {
    grid-area: messages;
} */





